
img {
    margin: auto;
    display: block;
    width: 100%;
    height: 500px;
}

nav {
    background-color: rgb(173, 70, 70);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(245, 231, 231);
    font-size: 1.5rem;
    padding: 1px 15px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(42, 106, 112);
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 940px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem
}

h1 {
   font-size: 3rem; 
   color: rgb(78, 71, 71);
}

blockquote {
    font-size: 1.5rem;
    color:rgb(146, 142, 142);
}

/* home styling */
table {
    width: 940px;
    border: 1px solid black;
    border-collapse: collapse
    ;
}
td {
    border: 1px solid black;
    text-align: center;
}

th {
    border: 1px solid black;
    background-color: lightgray;
}

th, td {
    padding: 15px;
    text-align: left;
  }

/* stories page */
/* using display for layout */

.stories {
    width: 940px;
    text-align: center;
    margin: 0 auto;
  }
  
  .stories .col {
    display: inline-block;
    margin: 20px auto;
  }
  
  .stories > article {
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .col > img {
    width: 100%;
    height: 300px;
    opacity: 0.8;
  }
  
  .col h3, 
  .col p {
    color: #803376;
    padding: 2px;
    margin: 5px; 
  }

/* contact styling */

form {
    width: 700px;
    text-align: left;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding: 30px 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

fieldset {
    border: none;
    width: 750px;
}

input { 
    width: 650px;
    height: 2rem;
}

select {
    width: 650px;
    height: 2.5rem;
}

.radio {
    display: inline-block;
    text-align: left;
}

textarea {
    width: 650px;
    
}
input[type=radio] {
    border: 0px;
    width: 50px;
    height: 1rem;
    margin: 0;
    padding: 0;
}




button {
    display: block;
    background-color: rgb(65, 190, 65);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}